.landingRoot{
  height: 100%;
  background-size: 100%;
  background-image: url("../images/background-landing.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 5%;
}

/**
* Title Screen
**/
.landingTitle{
  display: flex;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 0%;
  filter: drop-shadow(0 0 20px rgb(0, 0, 0));
}

.landingTitle img{
  width: 100%;
}

.landingBody *{
  margin: 0;
}

.landingBody{
  margin: auto;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 4%;
  padding-bottom: 10%;
  text-align: center;
}

/**
* Body - "Why" section
*/
.whyRow:after{
  content: "";
  display: table;
  clear: both;
}

.whyRow div{
  float: left;
  width: 33.33%;
}

.whyRow div img{
  width: 80%;
}

.whyRow div h4{
  text-align: center;
}

.whyRow div p{
  font-size: 16px;
  text-align: center;
}